/* Smooth transition for theme toggle */
body.transition {
    transition: background-color 0.5s ease, color 0.5s ease;
}

header.transition {
    transition: background 0.5s ease;
}

button.transition {
    transition: background 0.5s ease, transform 0.2s ease;
}

li.transition {
    transition: background 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#profile-img.transition {
    transition: transform 0.3s ease, border 0.5s ease;
}
